<section *ngIf="overview">
  <div class="container">
    <div class="wrapper">
      <h2 class="title">
        Professional Concrete Manufacturing
      </h2>
      <p class="mb-4">{{overview.content}}</p>
      <app-more-button [label]="'Read'" [isOpenDialog]="false" (navigate)="onNavigate()">
      </app-more-button>
    </div>
    <div class="images">
      <img *ngFor="let image of overview?.images; let i = index" [lazyLoad]="image" [alt]="(i+1)"
        [ngClass]="{'lg:mt-10 mt-4': i === 1}" />
    </div>
  </div>
</section>