<nav class="absolute w-full top-0 left-0 h-screen z-50 {{
    isSidebarShowing ? 'flex' : 'hidden'
  }}">
  <div class="bg-white w-full md:max-w-sm shadow-2xl">
    <div class="flex justify-end p-5">
      <img [src]="iconClosed" alt="close" (click)="this.closeSideBar()" class="w-8 h-8">
    </div>
    <div>
      <div class="mt-3">
        <app-phone></app-phone>
      </div>
      <div class="mt-3">
        <app-email></app-email>
      </div>
      <div class="mt-6">
        <app-auth-link></app-auth-link>
      </div>
      <div class="mt-6">
        <app-menu [items]="menuitems"></app-menu>
      </div>
      <div class="mt-6">
        <app-social-icon></app-social-icon>
      </div>
    </div>
  </div>
  <div (click)="this.closeSideBar()" class="bg-gray-900 hidden md:block md:w-full opacity-60"></div>
</nav>
<header class="w-full z-40">
  <div class="bg-[#1C263C] hidden lg:block">
    <div class="container text-white py-2">
      <ul class="flex justify-around  gap-4">
        <li>
          <app-phone></app-phone>
        </li>
        <li>
          <app-email></app-email>
        </li>
        <li>
        </li>
        <li>
          <app-social-icon></app-social-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="px-4 lg:px-0 md:px-0 {{ scrolledStyled() }}">
    <div class="py-5 px-2 flex items-center justify-between container {{
        isMenuScrolled ? '' : 'border'
      }} border-gray-500 border-opacity-30">
      <app-brand-logo></app-brand-logo>
      <div class="lg:hidden">
        <img [src]="iconOpen" alt="hamburger" (click)="this.openSideBar()" class="w-8 h-8">
      </div>
      <app-menu class="hidden lg:block" [items]="menuitems"></app-menu>

      <div *ngIf="!isTokenAvailable">
        <a routerLink="/login" class="login-btn">Login</a>
      </div>

      <div *ngIf="isTokenAvailable">
        <div #container clickOutside (clickOutside)="handleClickOutside()">
          <app-dropdown-profile [username]="username" [showDropdown]="showDropdown" (clicked)="toggleDropdown()" (logout)="logout()"></app-dropdown-profile>
        </div>
      </div>
    </div>
  </div>
</header>

<button *ngIf="isMenuScrolled" (click)="scrollToTop()" class="scrolling z-50">
  <img [src]="iconArrowUp" alt="" class="w-6 h-6 m-auto arrow">
</button>
