<div *ngIf="(loadingService.loading$ | async); else content" class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="grid grid-cols-3 gap-2">
    <div *ngFor="let item of [0,1,2,3]">
      <app-card-shimmer-effect></app-card-shimmer-effect>
    </div>
  </div>
</div>

<ng-template #content>
  <div class="bg-gray-100 py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grids">
        <ng-container
          *ngFor="let article of articles | paginate: { itemsPerPage: limit, currentPage: page,  totalItems: totalItems }; trackBy: trackById">
          <app-card-blog [article]="article" [editable]="false"></app-card-blog>
        </ng-container>
      </div>
      <app-pagination (pageChange)="onPageChanged($event)" [page]="articles.length"
        [totalItems]="totalItems"></app-pagination>
    </div>
  </div>
</ng-template>
