<ng-container *ngIf="contactInformation">
  <section class="wrapper">
    <div class="containers">
      <div class="maps-wrapper">
        <iframe class="absolute inset-0" title="map" marginheight="0" marginwidth="0" scrolling="no"
          src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=-6.8938371908652885, 106.79983021947811&ie=UTF8&t=&z=14&iwloc=B&output=embed"
          width="100%" height="100%" frameborder="0"></iframe>
        <div class="card">
          <div class="lg:w-1/2 px-6">
            <h2>Address</h2>
            <p class="mt-1">{{contactInformation.address}}</p>
          </div>
          <div class="address">
            <h2>Email</h2>
            <a>{{contactInformation.email}}</a>
            <h2 class="mt-2">Phone</h2>
            <p class="leading-relaxed">{{contactInformation.phone}}</p>
          </div>
        </div>
      </div>
      <div class="form-wrapper">
        <h2>Feedback</h2>
        <p>{{contactInformation.header}}</p>

        <form [formGroup]="form">
          <app-form-field label="Name"  [control]="getFormControl('fullname')"  controlName="fullname"></app-form-field>
          <app-form-field label="Phone" [control]="getFormControl('phone')"     controlName="phone"></app-form-field>
          <app-form-field label="Email" [control]="getFormControl('email')"     controlName="email"></app-form-field>
          <div class="relative mb-4">
            <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
            <textarea id="message" name="message" formControlName="message"></textarea>
          </div>

          <app-submit-button [isLoading]="isSubmitting" (click)="save()" [label]="'Save'"
            [isDisabled]="form.invalid"></app-submit-button>
        </form>
      </div>
    </div>
  </section>

</ng-container>
