<div class="wrapper">
  <div>
    <div class="card-content">
      <h2 class="title">
        {{ product.name }}
      </h2>
      <p class="description">
        {{ product.description }}
      </p>
      <a [routerLink]="['/product-detail', product._id]">
        <span class="read-more">
          <p>
            Read More
          </p>
          <img [src]="iconArrowLeft" alt="iconArrowLeft" class="arrow">
        </span>
      </a>
    </div>
  </div>
  <img class="card-images" [src]='product.images[1]' />
</div>
