<div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 mt-4 sm:px-6">
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-bold">{{page}}</span>
        of
        <span class="font-bold">{{totalItems}}</span>
        results
      </p>
    </div>
    <div>
      <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>
