<div class="py-4">
  <label id="listbox-label" class="label">{{label}}</label>
  <div class="relative mt-2">
    <button type="button" class="dropdown-btn" (click)="toggleDropdown()">
      <span class="flex items-center">
        <span class="ml-3 block truncate" [class.text-gray-500]="!selectedOption">{{ selectedOption|| 'Select an option' }}</span>
      </span>
      <span class="image-wrapper">
        <img [src]="icon.dropdown" alt="" class="icon-gray h-5 w-5" />
      </span>
    </button>

    <ul *ngIf="isOpen" tabindex="-1">
      <li role="option" *ngFor="let option of options; let i = index" (click)="selectOption(option, i)">
        <div class="flex items-center">
          <span class="font-normal ml-3 block truncate">{{ option.name }}</span>
        </div>
        <span *ngIf="selectedOptionIndex === i" class="icon-wrapper">
          <img [src]="icon.checklist" alt="" class="checklist h-5 w-5" />
        </span>
      </li>
    </ul>
  </div>
</div>
