<div class="relative inline-block text-left">
  <div>
    <button type="button" (click)="onClick()" id="menu-button" aria-expanded="false" aria-haspopup="true">
      Sort
      <img [src]="iconArrowDown" height="18" width="18" alt="" class="ml-2 icon-gray">
    </button>
  </div>

  <div *ngIf="showDropdown" class="list" role="menu" aria-orientation="vertical" aria-labelledby="menu-button"
    tabindex="-1">
    <div class="py-1" role="none">
      <ng-container *ngFor="let item of menuItems">
        <a (click)="chooseMenu(item.id)" class="items" role="menuitem" tabindex="-1" id="menu-item-0">{{item.name}}</a>
      </ng-container>
    </div>
  </div>
