:host ::ng-deep {
	.p-inputtext.ng-dirty.ng-invalid {
		border: 2px solid red;
	}

	.p-inputtext {
		border-radius: 15px;
	}

	.p-invalid .ql-container {
		border: 3px solid red;
		animation: blinker 1s linear infinite;
	}
}
