<section class="bg-gray-200">
  <div class="flex justify-center min-h-screen">
    <img class="hidden bg-cover lg:block lg:w-2/3" [lazyLoad]='bgCover' />
    <div class="flex items-center w-full max-w-3xl p-8 mx-auto lg:px-12 lg:w-2/5">
      <div class="w-full">
        <div class="flex justify-center flex-col space-y-2 mb-4">
          <div class="flex justify-center mb-4">
            <app-brand-logo [height]="100" [width]="100"></app-brand-logo>
          </div>
          <p class="text-[#213a5c] text-base font-semibold text-center">
            Welcome to Indobata, Please log in to access exclusive features and information.
          </p>
        </div>

        <form [formGroup]="form">
          <app-input-text label="Username" fieldName="username" [formGroup]="form"></app-input-text>
          <app-input-text label="Email" fieldName="email" [formGroup]="form"></app-input-text>
          <app-input-password label="Password" fieldName="password" [formGroup]="form"></app-input-password>

          <app-submit-button
            (click)="onRegisterProcess()"
            [isLoading]="isSubmitting"
            [label]="'Register'"
            [isDisabled]="form.invalid">
          </app-submit-button>
        </form>
        <p class="mt-6 text-sm text-center text-gray-400">
          If you already have account, please <a routerLink="/login" class="underline text-[#213a5c] font-semibold">
            signin
          </a> here.
        </p>
      </div>
    </div>x
  </div>
</section>
