<section class="bg-gray-200">
  <div class="login-form">
    <div class="wrapper">
      <div class="w-full">
        <div class="mb-4">
          <div class="flex justify-center mb-4">
            <app-brand-logo [height]="100" [width]="100"></app-brand-logo>
          </div>
          <p class="header">
            {{ greetings }}
          </p>
        </div>
        <form [formGroup]="form">
          <app-input-text label="Email" fieldName="email" [formGroup]="form"></app-input-text>
          <app-input-password label="Password" fieldName="password" [formGroup]="form"></app-input-password>
          <app-input-password label="Confirm Password" fieldName="confirmPassword" [formGroup]="form"></app-input-password>
          <app-submit-button [isLoading]="isSubmitting" (click)="onLoginProcess()" [label]="'Login'"
            [isDisabled]="form.invalid">
          </app-submit-button>
        </form>
        <p class="messages">
          If you are new here, please <a routerLink="/register">
            create an account
          </a> to enjoy our services.
        </p>
      </div>
    </div>
    <img class="cover" [lazyLoad]='cover' />
  </div>
</section>
