.tooltip {
  top: 100%;
  left: 90%;
  transform: translateX(-50%);
  width: 300px;
  height: auto;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;

  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2d3748 transparent;
}
