.tooltip {
	top: 100%;
	left: 90%;
	transform: translateX(-50%);
	width: 300px;
	height: auto;
	z-index: 999;
}

.tooltip::after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #2d3748 transparent;
}

.card-blog {
	@apply rounded overflow-hidden shadow-lg flex flex-col cursor-pointer h-[500px];

	.images {
		@apply w-full h-[300px];
	}

	.on-hover {
		@apply hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25;
	}

	.category {
		@apply text-xs bg-green-600 px-4 py-2 text-white mr-3 hover:bg-white hover:text-green-600 transition duration-500 ease-in-out;
	}

	.title {
		@apply font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2;
	}

	.subtitle {
		@apply text-gray-500 text-sm focus:outline-none cursor-pointer;
	}

	.content {
		@apply px-6 py-3 flex flex-row items-center justify-between bg-gray-100;

		.time-wrapper {
			@apply py-1 text-xs font-medium text-gray-900 flex flex-row items-center;
		}
	}

	.remove-btn {
		@apply mr-2 p-2 bg-gray-700 hover:text-white rounded-full;

		.remove-icon {
			&:hover {
				filter: invert(43%) sepia(53%) saturate(624%) hue-rotate(71deg) brightness(90%) contrast(102%);
			}
		}
	}

	.tags {
		@apply inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2;
	}

	.read-more {
		@apply focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline;

		p {
			@apply pr-2 text-sm font-medium leading-none cursor-pointer;
		}
	}
}
