<a [routerLink]="['/blog-detail', article._id!]" class="card-blog">
  <div class="relative">
    <img class="images" [lazyLoad]="article.images.url" alt="Article Images" />
    <div class="on-hover">
    </div>
    <div class="category">
      {{article.category.name}}
    </div>
  </div>
  <div class="px-6 py-4 mb-auto">
    <span class="title">
      {{article.title | shortenerText: 20 }}
    </span>

    <div class="relative inline-block">
      <p class="subtitle" (mouseenter)="showTooltip()" (mouseleave)="hideTooltip()">
        {{ article.subtitle | shortenerText: 80 }}
      </p>
      <app-tooltip [flag]="!showTooltipFlag" [text]="article.subtitle"></app-tooltip>
    </div>
  </div>
  <div class="content">
    <span class="time-wrapper">
      <img [src]="iconTime" alt="time" class="h-5 w-5" />
      <span class="ml-1">{{article.createdAt! | timeAgo }}</span>
    </span>
    <!-- <span class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
      <svg class="h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
      </svg>
      <span class="ml-1">39 Comments</span>
    </span> -->
  </div>
</a>
