<div *ngIf="(loadingService.loading$ | async)" class="loading-indicator">
  <app-spinner [loadingIndicator]="!loadingIndicator"></app-spinner>
</div>

<div *ngIf="!(loadingService.loading$ | async)" class="bg-white">
  <app-sidebar-filter [icon]="iconClose" [isFilterShown]="isFilterShown" [categories]="categories"
    (clicked)="showFilters()" (categoryId)="onReceive($event)">
  </app-sidebar-filter>

  <main class="containers">
    <div class="wrapper">
      <app-view-grid-button (clicked)="getProducts()"></app-view-grid-button>
      <div class="flex items-center" #container clickOutside (clickOutside)="handleClickOutside()">
        <app-sort [showDropdown]="showDropdown" (clicked)="toggleDropdown()" (choose)="chooseMenu($event)">
        </app-sort>
        <button (click)="showFilters()" type="button"
          class="sidebar">
          <span class="sr-only">Filters</span>
          <img [src]="iconFilter" alt="Filter" height="24" width="24" class="icon-gray" />
        </button>
      </div>
    </div>

    <section aria-labelledby="products-heading" class="pb-24 pt-6">
      <h2 id="products-heading" class="sr-only">Products</h2>
      <div class="product-wrapper">
        <form>
          <h3 class="sr-only">Categories</h3>
          <ul role="list">
            <ng-container *ngFor="let item of categories; trackById">
              <li>
                <span class="list" (click)="filterBy(item._id)">{{item.name}}</span>
              </li>
            </ng-container>
          </ul>
        </form>

        <div class="lg:col-span-3">
          <div class="card-grid">
            <ng-container
              *ngFor="let product of products | paginate: { itemsPerPage: limit, currentPage: page,  totalItems: totalItems }">
              <app-card-product-hover [product]="product"></app-card-product-hover>
            </ng-container>
          </div>
          <app-pagination (pageChange)="onPageChanged($event)" [page]="products.length!"
            [totalItems]="totalItems"></app-pagination>
        </div>
      </div>
    </section>
  </main>
</div>
