<section class="text-gray-600 body-font p-6">
    <div class="container px-5 mx-auto">
        <div class="text-center mb-20">
            <h1 class="sm:text-3xl text-2xl font-bold title-font text-gray-900 mb-4">{{features.headerTitle}}</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">{{features.headerDescription}}</p>
            <app-short-line></app-short-line>
        </div>
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
            <div class="p-4 md:w-1/3 flex flex-col text-center items-center" *ngFor="let item of features.content; trackBy: trackByFn">
                <div
                    class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-[#455268] text-indigo-500 mb-5 flex-shrink-0">
                    <img [src]="item.icon" class="icon" alt="icon" height="44" width="44">
                </div>
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg font-bold title-font mb-3">{{item.title}}</h2>
                    <p class="leading-relaxed text-base">{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>