<div *ngIf="(loadingService.loading$ | async)" class="loading-indicator">
  <app-spinner [loadingIndicator]="!loadingIndicator"></app-spinner>
</div>

<div *ngIf="!(loadingService.loading$ | async)" class="py-8">
  <div class="wrapper">
    <div>
      <ng-container *ngFor="let project of projects | paginate: { itemsPerPage: limit, currentPage: page,  totalItems: totalItems }">
        <app-card-project [project]="project" (callParentEvent)="openDialog(project._id)"></app-card-project>
      </ng-container>
    </div>
    <app-pagination (pageChange)="onPageChanged($event)" [page]="projects.length" [totalItems]="totalItems"></app-pagination>
  </div>
</div>




