/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #5d6064;
	border-radius: 20px;
	border: transparent;
}

.icon-gray {
	filter: invert(48%) sepia(6%) saturate(856%) hue-rotate(182deg)
		brightness(91%) contrast(93%);
}
