:host ::ng-deep {
	.p-inputtext.ng-dirty.ng-invalid {
		border: 2px solid red;
		animation: blinker 1s linear infinite;
	}

	.p-inputtext {
		border-radius: 15px;
		width: 100%;
	}

	p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
		border: 2px solid red;
	}

	.p-dropdown {
		width: 100%;
	}
}
