:host ::ng-deep {
  .p-inputtext.ng-dirty.ng-invalid {
    border: 2px solid red;
    animation: blinker 1s linear infinite;
  }

  .p-inputtext {
    border-radius: 15px;
    width: 100%;
  }

  .p-password {
    width: 100%;
  }

  p-password.ng-invalid.ng-dirty > .p-password > .p-inputtext {
    border: 2px solid red;
    animation: blinker 1s linear infinite;
}
}
